@font-face{
    font-family: 'minimo';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

.header{
    max-width: 1100px;
    text-transform: uppercase;
}

.header__logo{
    display: inline-block;
    font-family: 'minimo';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
    margin-left: 5%;
    margin-right: 40%;
}

.header__main-menu{
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.header__menu{
    display: inline-block;
    margin: 0 18%;
}

.header__link{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.header__img{
    margin-left: 5%;
    width: 105%;
    height: 550px;
}

.main{
    margin: 10%;
}

.main__poreg{
    text-transform: uppercase;
    color: #b3aea3;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 4.5%;
}

.main__paragraf{
    margin-bottom: 25px;
    font-size: 24px;
}

.main__text{
    font-size: 14px;
}

.main__obgekt_one{
    display: inline-block;
    max-width: 43%;
    margin-top: 70px;
}

.main__obgekt_too{
    display: inline-block;
    max-width: 43%;
    margin-left: 10%;
    margin-top: 70px;
}

.main__img{
    width: 100%;
    height: 260px;
}

.sing-in{
    position: relative;
    background-color: #f0f0f0;
    padding: 50px 36%;
    margin: 0;
}

.sing-in__paragraph{
    font-size: 32px;
}

.sing-in__email{
    width: 80%;
    background-color: #f0f0f0;
    border: 0;
    outline: none;
}

.sing-in__link{
    position: absolute;
    top: 150px;
    left: 61%;
}

.sing-in__link img{
    width: 35px;
    height: 18px;
}
